body {
  font-family: helvetica;
  opacity: 0.9;
  color: seashell;
  background-color: black;
  text-align: center;
}

.header {
  position: static;
  position: fixed;
  z-index: 69px;
  height: 50px;
}

.header image {
  align-items: flex-start;
}

.background {
  height: 700px;
}

.logo{
  height: 50px;
  margin-left: 10px;
}

#aw {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  display: inline;
  justify-content: center;
}

#wa {
  top: 10px;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}

.head {
  margin-top: 69px;
  background-image: "https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg";
  text-align: center;
  width: 1200px;
  position: static;
  justify-content: space-around;
  display: inline-block;
}

.tea {
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  justify-content: space-around;
  display: block;
}

.location {
  background-image: "https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg";
  flex-direction: row;
  height: 500px;
  position: relative;
  justify-content: space-around;
  display: inline-flex;
  margin-right: 40px;
  top: 15px;
}

.footer {
  margin-bottom: 50px;
}

.bottom {
  text-align: left;
  opacity: 1;
}
